body {
    font-family: 'Hind', serif;
}

.logo {
    background-image:  url("https://mdn.mozillademos.org/files/7693/catfront.png");
    height: 60px;
    display: flex;
    background-repeat: no-repeat;
}