body {
    font-family: 'Hind', serif;
}

.container {
    width: 100%;
}

.main.header {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.nav {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
    line-height: 40px;
}

.nav ul {
    margin: 0px;
    padding: 0px;
}

li.nav-item {
    margin: 0px 30px;
    list-style: none;
    display: inline-block;
}

.section {
    text-align: center;
}

.section.header {
    text-align: center;
    font-size: 1.3em;
}

.section.body {
    height: 200px;
    width: 250px;
    position: relative;
    border: 1px black dotted;
    margin: 0 auto;
}