<div class="header">
  <h2><%= gettext "%{event_name}", event_name: "Cheers To The Chakis" %></h2>
  <p class="header-date"><span class="logo"></span>October 21,2017</p>
</div>

<div class="main-content">
  <div class="section">
    <h3>How We Met</h3>
  </div>
  <div class="section">
    <h3>The Ceremony</h3>
  </div>
  <div class="section">
    <h3>Pictures!</h3>
  </div>
</div>
