<div class="header">
  <h2>Cheers To The Chakis</h2>
</div>

<nav class="nav">
  <ul>
    <li class="nav-item">
      <span>How We Met</span>
    </li>
    <li class="nav-item">
      <span>The Ceremony</span>
    </li>
    <li class="nav-item">
      <span>Pictures!</span>
    </li>
  </ul>
</nav>
